body {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #112D4E;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  position: absolute; /* Добавлено позиционирование */
  width: 1280px;
  height: 376px;
  top: 1px;
  left: 1px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 150px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column a {
  color: #EDEDED;
  text-decoration: none;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ffffff22;
  padding-top: 10px;
  margin-top: 30px;
  font-size: 13px;
}

.social a {
  margin-right: 10px;
  font-size: 20px;
  color: #fff;
}

.social a:hover {
  color: #ccc;
}

.text p {
  max-width: 300px;
}

/* Блок Documents */
.footer-column.documents {
  width: 146px;
  height: 55px;
  top: 72px;
  left: 503px;
  position: absolute;
}

/* Блок Menu */
.footer-column.menu {
  width: 75px;
  height: 77px;
  top: 72px;
  left: 731px;
  position: absolute;
}

/* Блок About Company */
.footer-column.about-company {
  width: 175px;
  height: 55px;
  top: 71px;
  left: 884px;
  position: absolute;
}

/* Блок Follow Us */
.footer-column.social {
  width: 80.8px;
  height: 13px;
  top: 71px;
  left: 1145.1px;
  position: absolute;
}
